{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center mb-3">
        <div class="mt-5 shadow-lg w-50 bg-dark rounded">
            <h1 class="text-white text-center mt-2">Password Generator</h1>
            <div class="w-25 mx-auto">
                <div class="m-3">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="m-0">
                            <label for="id_length" class="text-white" id="value"></label>
                            {{form.length}}
                            <div class="row">
                                <div class="col-sm">
                                    <label for="id_lower" class="text-white">Lower</label>
                                    {{form.lower}}
                                </div>
                                <div class="col-sm">
                                    <label for="id_upper" class="text-white">Upper</label>
                                    {{form.upper}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <label for="id_digits" class="text-white">Digits</label>
                                    {{form.digits}}
                                </div>
                                <div class="col-sm">
                                    <label for="id_symbols" class="text-white">Symbols</label>
                                    {{form.symbols}}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                            <button type="submit" class="btn btn-sm btn-success" id="create">Create Password</button>
                        </div>
                    </form>
                </div>
                {% if password %}
                    <div class="d-flex justify-content-center mb-3">
                        <div class="d-flex flex-row">
                            <h1 id="password" class="text-white me-5">{{password}}</h1>
                            <p onclick="copyPassword();" class="my-auto" data-bs-toggle="tooltip" data-bs-placement="top">
                                <i class="text-white fa-solid fa-copy fa-2xl""></i>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}